@model A_Simple_Hr_Management_System.Models.Company

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Company</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">Company Name</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.ComName)</dd>

        <dt class="col-sm-4">Basic (%)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Basic)</dd>

        <dt class="col-sm-4">House Rent (%)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Hrent)</dd>

        <dt class="col-sm-4">Medical (%)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Medical)</dd>

        <dt class="col-sm-4">Is Inactive</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.IsInactive)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ComId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>